<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>QQ音乐下载页 - QQ音乐，音乐你的生活！</title>
	<link rel="shortcut icon" href="../../../img/yt2.png">
	<link rel="stylesheet" type="text/css" href="../../../css/download.css">
	<script type="text/javascript" src="../../../js/EventHelpers.js"></script>
	<script type="text/javascript" src="../../../js/cssQuery-p.js"></script>
	<script type="text/javascript" src="../../../js/jcoglan.com/sylvester.js"></script>
	<script type="text/javascript" src="../../../js/cssSandpaper.js"></script>
</head>
<body>
	<!-- menu -->
	<div class="menu">
		<div class="menu__content">
			<h2 class="menu__title">
				<a href="../index.html" class="menu__link">樱桃音乐</a>
			</h2>
			<div class="menu_nav">
				<a href="#" class="menu_nav__item menu_nav__item--current">产品动态</a>
				<a href="#" class="menu_nav__item">下载</a>
			</div>
			<a href="#" class="menu__home">轻听介绍</a>
			<a href="#" class="menu__home">MAC版介绍</a>
			<a href="#" class="menu__home">PC版介绍</a>
		</div>
	</div>

	<!-- wrap -->
	<div class="wrap fullpage-wrapper">
		<!-- mod_banner -->
		<div class="mod_banner">
			<ul class="mod_banner_list">
				<li class="mod_banner_list__item mod_banner_pc">
					<h2 class="mod_banner_pc__tit"></h2>
					<a href="#" class="btn_banner">立即下载</a>
					<!-- star -->
					<div class="mod_banner__star mod_banner__star1"></div>
					<div class="mod_banner__star mod_banner__star2"></div>
					<div class="mod_banner__star mod_banner__star3"></div>
					<div class="mod_banner__star mod_banner__star4"></div>
					<div class="mod_banner__star mod_banner__star5"></div>
					<div class="mod_banner__star mod_banner__star6"></div>
					<!-- watch -->
					<div class="watch">
						<div class="watch__hand"></div>
						<div class="watch__numb1"></div>
						<div class="watch__numb2"></div>
					</div>
				</li>
			</ul>
			<div class="download_list">
				<i class="download_list__br"></i>
				<a href="#" class="download_list__item download_list__item--pc download_list__item--current">PC版<i></i></a>
				<a href="#" class="download_list__item download_list__item--mac">MAC版<i></i></a>
				<a href="#" class="download_list__item download_list__item--iphone">iPhone版<i></i></a>
				<a href="#" class="download_list__item download_list__item--android">Android版<i></i></a>
			</div>
			<i class="icon_arrow"></i>
		</div>
		<!-- part_singer -->
		<div class="section part_singer active">
			<div class="section__inner">
				<div class="bg-items">
					<div class="bg-item bg-item0"></div>
					<div class="bg-item bg-item1"></div>
					<div class="bg-item bg-item2"></div>
					<div class="bg-item bg-item3"></div>
					<div class="bg-item bg-item4"></div>
					<div class="bg-item bg-item5"></div>
					<div class="bg-item bg-item6"></div>
					<div class="bg-item bg-item7"></div>
					<div class="bg-item bg-item8"></div>
					<div class="bg-item bg-item9"></div>
				</div>
				<div class="part_singer__mask"></div>
				<h2 class="part_singer__tit hide">1500万正版歌曲</h2>
				<h3 class="part_singer__desc hide">国内唯一千万级版权超级平台，你想听的都在这里</h3>
			</div>
			<i class="icon_arrow"></i>
		</div>
		<!-- part_lyric -->
		<div class="section part_lyric active">
			<div class="section__inner">
				<h2 class="part_lyric__tit hide">社交互动，分享你的音乐感动</h2>
				<h3 class="part_lyric__desc hide">歌词海报记录生活，单曲弹幕邂逅共鸣，更多惊喜等你来玩！</h3>
				<div class="part_lyric__phone">
					<div class="lyric_phone">
						<div class="lyric_phone2"></div>
					</div>
					<div class="lyric_phonebox"></div>
				</div>
			</div>
			<i class="icon_arrow"></i>
		</div>
		<!-- part_like -->
		<div class="section part_like active">
			<div class="section__inner">
				<h2 class="part_like__tit hide">智能推荐，随刻遇见喜欢的音乐</h2>
				<h3 class="part_like__desc hide">懂你的猜你喜欢，最新最热独家首发、排行榜、电台，全方位的音乐推荐都在这里！</h3>
				<div class="part_like__phone">
					<div class="like_phone"></div>
					<div class="like_phonebox"></div>
				</div>
			</div>
			<i class="icon_arrow"></i>
		</div>
		<!-- part_synchro -->
		<div class="section part_synchro active">
			<div class="section__inner">
				<h2 class="part_synchro__tit hide">多终端云同步，设备切换音乐仍在</h2>
				<h3 class="part_synchro__desc hide">只需一个账号，即可实现多终端音乐同步，个人音乐随时随地畅享！</h3>
				<div class="part_synchro__mac">
					<div class="part_synchro__mac2"></div>
				</div>
				<div class="part_synchro__phone"></div>
			</div>
			<!-- mod_footer -->
			<div class="mod_footer">
				<p class="copyrighten">Copyright &copy; 1998 - 2016</p>
				<p class="copyrightzh">腾讯公司 <a href="#">版权所有</a> <a href="#">腾讯网络文化经营许可证</a></p>
			</div>
		</div>
	</div>
</body>
</html>