<!--
                            _ooOoo_
                           o8888888o
                           88" . "88
                           (| -_- |)
                            O\ = /O
                        ____/`---'\____
                      .   ' \\| |// `.
                       / \\||| : |||// \
                     / _||||| -:- |||||- \
                       | | \\\ - /// | |
                     | \_| ''\---/'' | |
                      \ .-\__ `-` ___/-. /
                   ___`. .' /--.--\ `. . __
                ."" '< `.___\_<|>_/___.' >'"".
               | | : `- \`.;`\ _ /`;.`/ - ` : | |
                 \ \ `-. \_ __\ /__ _/ .-` / /
         ======`-.____`-.___\_____/___.-`____.-'======
                            `=---='

         .............................................
                  佛祖保佑             永无BUG
          佛曰:
                  写字楼里写字间，写字间里程序员；
                  程序人员写程序，又拿程序换酒钱。
                  酒醒只在网上坐，酒醉还来网下眠；
                  酒醉酒醒日复日，网上网下年复年。
                  但愿老死电脑间，不愿鞠躬老板前；
                  奔驰宝马贵者趣，公交自行程序员。
                  别人笑我忒疯癫，我笑自己命太贱；
                  不见满街漂亮妹，哪个归得程序员？
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>樱桃音乐</title>
	<link rel="shortcut icon" href="../../img/yt2.png">
	<link rel="stylesheet" type="text/css" href="../../css/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	<script type="text/javascript" src="../../js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="../../js/portal/check_loginUser.js"></script>

</head>
<body>

<!--header-->
<div class="headwraper">
	<div class="header">
		<a href="#" class="logo"><img style="width: 190px;height: 52px"s src="../../img/yt6.png"></a>
		<a href="#" class="music_global">音乐馆</a>
		<a href="#" class="mymusic">我的音乐</a>
		<a href="">下载客户端</a>
		<a href="">VIP</a>
		<div class="search">
			<input type="text"  id="search" name="search" placeholder="搜索音乐、歌手、歌单"/>
			<div class="pic_search"><a href="javascript:void (0);" onclick="search_page()"></a></div>
		</div>
		<a href="login.html" id="singin" class="signin">登录</a>
		<a href=""  class="logined" style="display: none">123</a>
		<a href="#" target="_blank" class="greendia">开通VIP</a>
		<a href="#" target="_blank" class="pay">开通付费包</a>
		<div class="login_user hide">
			<a href="javascript:;" onclick="layout()" class="layout">退出登录</a>
		</div>
	</div>
	<!--nav-->
	<div class="nav_global">
		<a href="#" class="index_global">首页</a>
		<a href="singer_list.html">歌手</a>
		<a href="album_lib.html">专辑</a>
		<a href="rank.html">排行榜</a>
		<a href="playlist.html">歌单广场</a>
		<a href="index_MV.html">MV</a>
	</div>
</div>

<!--main-->
<div class="main">
	<!--newsong-->
	<div class="newsong">
		<div class="con_wraper">
			<h3 class="main_title">
				<p class="left_line"></p>
				新歌首发
				<p class="right_line"></p>
			</h3>
			<p class="list">
				<a href="#song01" class="all">全部</a>
				<a href="#song02">华语</a>
				<a href="#song03">欧美</a>
				<a href="#song04">韩国</a>
				<a href="#song05">日本</a>
				<a href="#" class="link_all">全部&nbsp;<span class="link_guide"></span></span></a>
			</p>
			<div class="con">
				<dl id="song01" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Mr.Lucy</a>


							<!--menu_list
							<span class="menu">
								<ul class="menu_list">
									<li>添加到
										<ul class="addto">
											<li><a href="#">播放队列</a></li>
											<li><a href="#">登陆后添加到歌单</a></li>
										</ul>
									</li>
									<li>分享
										<ul class="share">
											<li><a href="#">微信好友/朋友圈</a></li>
											<li><a href="#">QQ空间</a></li>
											<li><a href="#">新浪微博</a></li>
											<li><a href="#">复制链接</a></li>
										</ul>
									</li>
									<li><a href="#">下载</a></li>
								</ul>
							</span>
							-->


						</div>
						<div class="singer"><a href="#">李玉玺</a></div>
					</dd>
				</dl>
				<dl id="song02" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000003cBhiM3s4MMF.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">亲爱的偏执狂</a>
						</div>
						<div class="singer"><a href="#">陈势安</a></div>
					</dd>
				</dl>
				<dl id="song03" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000002rXLkZ4XgqJM.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">wonderlust</a>
						</div>
						<div class="singer"><a href="#">韩国字</a></div>
					</dd>
				</dl>
				<dl id="song04" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000002qYsqf1ksxOj.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">I AM SE7EN</a>
						</div>
						<div class="singer"><a href="#">SE7EN</a></div>
					</dd>
				</dl>
				<dl id="song05" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000QnVUy3RLDnI.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Dog House</a>
						</div>
						<div class="singer"><a href="#">郝少华</a></div>
					</dd>
				</dl>
				<dl id="song06" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M0000001xt3Z1qD1jT.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Rock&amp;Roll</a>
						</div>
						<div class="singer"><a href="#">Crash</a></div>
					</dd>
				</dl>
				<dl id="song07" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000001OWhgh19kygM.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">姊妹花</a>
						</div>
						<div class="singer"><a href="#">姊妹</a></div>
					</dd>
				</dl>
				<dl id="song08" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000001Pe7kH19MCMQ.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Stand Alone</a>
						</div>
						<div class="singer"><a href="#">歪果仁</a></div>
					</dd>
				</dl>
			</div>
			<div class="flow">
				<a href="#song01" class="pages" id="page1"></a>
				<a href="#song05" class="pages"></a>
				<a href="#song01" class="pages"></a>
			</div>
		</div>
		<div class="btn_left btn">
			<a href="#song01"></a>
			<div class="btn_tri"></div>
		</div>
		<div class="btn_right btn">
			<a href="#song08"></a>
			<div class="btn_tri"></div>
		</div>
	</div>
	<!--hotsong-->
	<div class="hotsong">
		<div class="con_wraper">
			<h3 class="main_title">
				<p class="left_line"></p>
				热门歌单
				<p class="right_line"></p>
			</h3>
			<div class="con">
				<dl id="hot_song01" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M0000001xt3Z1qD1jT.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">民谣诗人鲍勃·迪伦获诺贝尔文学奖</a>
						</div>
						<div class="singer">播放量：391.9万</div>
					</dd>
				</dl>
				<dl id="hot_song02" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000001OWhgh19kygM.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">编辑推荐 | 姚若龙的词，循环播放</a>
						</div>
						<div class="singer">播放量：328.3万</div>
					</dd>
				</dl>
				<dl id="hot_song03" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000QnVUy3RLDnI.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">华语 | 动物世界里的音乐狂想曲</a>
						</div>
						<div class="singer">播放量：188.6万</div>
					</dd>
				</dl>
				<dl id="hot_song04" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">欧美 | 魔幻电音，极致享受。</a>
						</div>
						<div class="singer">播放量：197.9万</div>
					</dd>
				</dl>
				<dl id="hot_song05" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Mr.Lucy</a>
						</div>
						<div class="singer"><a href="#">李玉玺</a></div>
					</dd>
				</dl>
				<dl id="hot_song06" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Mr.Lucy</a>
						</div>
						<div class="singer"><a href="#">李玉玺</a></div>
					</dd>
				</dl>
				<dl id="hot_song07" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Mr.Lucy</a>
						</div>
						<div class="singer"><a href="#">李玉玺</a></div>
					</dd>
				</dl>
				<dl id="hot_song08" class="songs">
					<dt class="song_pic">
						<a href="#">
							<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
							<div class="cover">
								<div class="cover_play"><img src="../../img/cover_play.png"></div>
							</div>
						</a>
					</dt>
					<dd class="song_intro">
						<div class="song_name">
							<a href="#">Mr.Lucy</a>
						</div>
						<div class="singer"><a href="#">李玉玺</a></div>
					</dd>
				</dl>
			</div>
			<div class="flow">
				<a href="#hot_song01" class="pages" id="page1"></a>
				<a href="#hot_song05" class="pages"></a>
				<a href="#hot_song01" class="pages"></a>
			</div>
		</div>
		<div class="btn_left btn">
			<a href="#hot_song01"></a>
			<div class="btn_tri"></div>
		</div>
		<div class="btn_right btn">
			<a href="#hot_song08"></a>
			<div class="btn_tri"></div>
		</div>
	</div>
	<!--rank-->
	<div class="rank">
		<div class="con_wraper">
			<h3 class="main_title">
				<p class="left_line"></p>
				排行榜
				<p class="right_line"></p>
			</h3>
			<div class="con">
				<div class="songs">
					<div class="song_pic pop">
						<div class="cover">
						</div>
						<div class="cover_play"><a href="#"><img src="../../img/cover_play.png"></a></div>
						<div class="song_rank">
							<h4 class="rank_title">
								<a href="#"><span class="rank_top_title">巅峰榜</span>
								<div>流行指数</div></a>
							</h4>
							<p class="rank_line"></p>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">1 Don't Wanna Know</a></dt>
								<dd class="singer"><a href="#">Maroon 5/Kendrick Lamar</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">2 蓝瘦香菇</a></dt>
								<dd class="singer"><a href="#">蒙面哥</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">3 董小姐</a></dt>
								<dd class="singer"><a href="#">宋东野</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">4 Freal Luv</a></dt>
								<dd class="singer"><a href="#">Far East Movement/Mars</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="songs">
					<div class="song_pic hot">
						<div class="cover">
						</div>
						<div class="cover_play"><a href="#"><img src="../../img/cover_play.png"></a></div>
						<div class="song_rank">
							<h4 class="rank_title">
								<a href="#"><span class="rank_top_title">巅峰榜</span>
								<div>热歌</div></a>
							</h4>
							<p class="rank_line"></p>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">1 演员</a></dt>
								<dd class="singer"><a href="#">薛之谦</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">2 丑八怪</a></dt>
								<dd class="singer"><a href="#">薛之谦</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">3 多幸运</a></dt>
								<dd class="singer"><a href="#">韩安旭</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">4 告白气球</a></dt>
								<dd class="singer"><a href="#">周杰伦</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="songs">
					<div class="song_pic new">
						<div class="cover">
						</div>
						<div class="cover_play"><a href="#"><img src="../../img/cover_play.png"></a></div>
						<div class="song_rank">
							<h4 class="rank_title">
								<a href="#"><span class="rank_top_title">巅峰榜</span>
								<div>新歌</div></a>
							</h4>
							<p class="rank_line"></p>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">1 某时某刻</a></dt>
								<dd class="singer"><a href="#">鹿晗</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">2 蓝瘦香菇</a></dt>
								<dd class="singer"><a href="#">蒙面哥</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">3 童梦</a></dt>
								<dd class="singer"><a href="#">张碧晨</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">4 暗恋故事情节</a></dt>
								<dd class="singer"><a href="#">本兮</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="songs">
					<div class="song_pic west">
						<div class="cover">
						</div>
						<div class="cover_play"><a href="#"><img src="../../img/cover_play.png"></a></div>
						<div class="song_rank">
							<h4 class="rank_title">
								<a href="#"><span class="rank_top_title">巅峰榜</span>
								<div>欧美</div></a>
							</h4>
							<p class="rank_line"></p>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">1 Don't Wanna Know</a></dt>
								<dd class="singer"><a href="#">Maroon 5/Kendrick Lamar</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">2 Freal Luv</a></dt>
								<dd class="singer"><a href="#">Far East Movement/Mars</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">3 Million Reasons</a></dt>
								<dd class="singer"><a href="#">Lady Gaga</a></dd>
							</dl>
							<dl class="rank_list">
								<dt class="song_name"><a href="#">4 Hard II Love</a></dt>
								<dd class="singer"><a href="#">Usher</a></dd>
							</dl>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="mvideo">
		<div class="con_wraper">
			<h3 class="main_title">
				<p class="left_line"></p>
				MV首播
				<p class="right_line"></p>
			</h3>
			<p class="list">
				<a href="#mv_song01" class="all">全部</a>
				<a href="#mv_song02">内地</a>
				<a href="#mv_song02">港台</a>
				<a href="#mv_song03">欧美</a>
				<a href="#mv_song04">韩国</a>
				<a href="#mv_song05">日本</a>
				<a href="#" class="link_all">全部&nbsp;<span class="link_guide"></span></span></a>
			</p>
			<div class="con">
				<div id="mv_song01" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/1.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">BINGO</a>
							</div>
							<div class="singer"><a href="#">四字韩语</a></div>
							<div class="frequency">
								<span class="pic_video"></span>82
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/2.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Shout Out to My Ex</a>
							</div>
							<div class="singer"><a href="#">Little Mix</a></div>
							<div class="frequency">
								<span class="pic_video"></span>27
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song02" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/3.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">TT</a>
							</div>
							<div class="singer"><a href="#">TWICE</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2848
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/4.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">那些你教我的事</a>
							</div>
							<div class="singer"><a href="#">于朦胧</a></div>
							<div class="frequency">
								<span class="pic_video"></span>922
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song03" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/5.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">呵护</a>
							</div>
							<div class="singer"><a href="#">梁静茹</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.7万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/6.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name"><a href="#">Goodbye My Lover</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>1.8万
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song04" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/0.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">某时某刻 Catch me when I fall</a>
							</div>
							<div class="singer"><a href="#">鹿晗</a></div>
							<div class="frequency">
								<span class="pic_video"></span>3.9万
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song05" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song06" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song07" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
				</div>
				<div id="mv_song08" class="songs">
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="song_pic">
							<a href="#">
								<img src="../../img/T002R300x300M000000qCrwY0JysUC.jpg">
								<div class="cover">
									<div class="cover_play"><img src="../../img/cover_play.png"></div>
								</div>
							</a>
						</dt>
						<dd class="song_intro">
							<div class="song_name">
								<a href="#">Mr.Lucy</a>
							</div>
							<div class="singer"><a href="#">李玉玺</a></div>
							<div class="frequency">
								<span class="pic_video"></span>2.4万
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="suggest">
		<div class="con_wraper">
			<h3 class="main_title">
				<p class="left_line"></p>
				精彩推荐
				<p class="right_line"></p>
			</h3>
			<div class="con">
				<div id="suggest_song01" class="songs">
					<a href="#"><img src="../../img/41204.jpg"></a>
				</div>
				<div id="suggest_song02" class="songs">
					<a href="#"><img src="../../img/40205.jpg"></a>
				</div>
				<div id="suggest_song03" class="songs">
					<a href="#"><img src="../../img/40470.jpg"></a>
				</div>
				<div id="suggest_song04" class="songs">
					<a href="#"><img src="../../img/41024.jpg"></a>
				</div>
			</div>
			<div class="flow">
				<a href="#suggest_song01" class="pages" id="page1"></a>
				<a href="#suggest_song03" class="pages"></a>
				<a href="#suggest_song01" class="pages"></a>
			</div>
		</div>
		<div class="btn_left btn">
			<a href="#suggest_song01"></a>
			<div class="btn_tri"></div>
		</div>
		<div class="btn_right btn">
			<a href="#suggest_song03"></a>
			<div class="btn_tri"></div>
		</div>
	</div>
</div>


<!--footer-->
<div class="footer">
	<div class="foot_wraper">
		<ul class="app">
			<li class="title">下载樱桃音乐客户端</li>
			<li class="download">
				<a href="#" class="pc"><dl>
					<dt class="dl_pc"></dt>
					<dd class="ver_pc">PC版</dd>
				</dl></a>
				<a href="#" class="mac"><dl>
					<dt class="dl_mac"></dt>
					<dd class="ver_mac">Mac版</dd>
				</dl></a>
				<a href="#" class="android"><dl>
					<dt class="dl_android"></dt>
					<dd class="ver_android">Android版</dd>
				</dl></a>
				<a href="#" class="iphone"><dl>
					<dt class="dl_iphone"></dt>
					<dd class="ver_iphone">iPhone版</dd>
				</dl></a>
			</li>
		</ul>
		<ul class="other">
			<li class="title">特色产品</li>
			<li class="product">
				<a href="#" class="allk"><dl>
					<dt class="allk_pic"></dt>
					<dd class="allk_name">全民K歌</dd>
				</dl></a>
				<a href="#" class="super"><dl>
					<dt class="super_pic"></dt>
					<dd class="super_name">Super Sound</dd>
				</dl></a>
				<a href="#" class="qplay"><dl>
					<dt class="qplay_pic"></dt>
					<dd class="qplay_name">Qplay</dd>
				</dl></a>
			</li>
			<li class="green">
				<a href="#">樱桃音乐原创音乐平台</a>
				<a href="#">车载互联</a>
				<a href="#" class="green_last">樱桃演出</a>
			</li>
		</ul>
		<ul class="links">
			<li class="title">合作链接</li>
			<li class="linklist"><ul>
					<li><a href="#">樱桃视频</a></li>
					<li><a href="#">樱桃社交广告</a></li>
					<li><a href="#">画报</a></li>
					<li class="list_last"><a href="#">樱桃微云</a></li>
				</ul>
			</li>
			<li class="linklist"><ul>
					<li><a href="#">手机空间</a></li>
					<li><a href="#">电脑管家</a></li>
					<li><a href="#">黄钻活动</a></li>
					<li class="list_last"><a href="#">樱桃FM</a></li>
				</ul>
			</li>
			<li class="linklist"><ul>
					<li><a href="#">最新版播放器</a></li>
					<li><a href="#">樱桃浏览器</a></li>
					<li><a href="#">星钻</a></li>
					<li class="list_last"><a href="#">更多</a></li>
				</ul>
			</li>
		</ul>
		<p class="jump">
			<a href="#">关于樱桃</a>
			<a href="#">About Tencent</a>
			<a href="#">服务条款</a>
			<a href="#">用户服务协议</a>
			<a href="#">广告服务</a>
			<a href="#">樱桃招聘</a>
			<a href="#">客服中心</a>
			<a href="#" class="jump_last">网站导航</a>
		</p>
		<p class="copy_eng"><span>Copyright &copy; 1998 - 2016 Tencent. </span><a href="#">All Rights Reserved.</a></p>
		<p class="copy_ch"><span>樱桃公司</span><a href="#">版权所有</a><a href="#">樱桃网络文化经营许可证</a></p>
	</div>
</div>
<script src="../../js/common.js"></script>
<script>
    function search_page() {
        var condition = $("#search");
        setCookie("con",condition.val(),1000);//
        window.location.href = "portal/search_page";
    };
	function layout() {
        $.ajax({
            url:"user/layout",
            type:"POST",
            dataType:"json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//防止乱码
            success:function(data){
                if(data.msg == "200"){
                    window.location.href =  "/";//跳转到主页
                }
            }
        })
    };

</script>
</body>
</html>