<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index_Songlist</title>
	<link rel="shortcut icon" href="../../img/yt2.png">
	<link rel="stylesheet" type="text/css" href="../../css/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../../css/playlist.css">
</head>
<body>
	<!--header-->
	<div class="headwraper">
	<div class="header">
		<a href="index.html" class="logo"><img src="../../img/yt6.png"></a>
		<a href="index.html" class="music_global">音乐馆</a>
		<a href="#" class="mymusic">我的音乐</a>
		<a href="download.html" target="_blank">下载客户端</a>
		<a href="#" target="_blank">VIP</a>
		<div class="search">
			<input type="text" name="search"/>
			<div class="pic_search"><a href="#"></a></div>
		</div>
		<a href="#" class="signin">登录</a>
		<a href="#" target="_blank" class="greendia">开通绿钻豪华版</a>
		<a href="#" target="_blank" class="pay">开通付费包</a>
	</div>
	<!--nav-->
	<div class="nav_global">
		<a href="index.html">首页</a>
		<a href="singer_list.html">歌手</a>
		<a href="album_lib.html">专辑</a>
		<a href="rank.html">排行榜</a>
		<a href="#" class="index_global">歌单广场</a>
		<a href="#">MV</a>
	</div>
</div>
	<!-- main -->
	<div class="main">

		<!-- mod_playlist_tag -->
		<div class="mod_playlist_tag">
			<div class="playlist_tag__list playlist_tag__list--lang">
				<h3 class="playlist_tag__tit">语种</h3>
				<i class="playlist_tag__line"></i>
				<ul class="playlist_tag__tags">
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">国语</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">英语</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">韩语</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">粤语</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">日语</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">小语种</a>
					</li>
				</ul>
			</div>
			<div class="playlist_tag__list">
				<h3 class="playlist_tag__tit">流派</h3>
				<i class="playlist_tag__line"></i>
				<ul class="playlist_tag__tags">
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">流行</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">轻音乐</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">摇滚</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">民谣</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">R&amp;B</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">舞曲</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">嘻哈</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">电子</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">更多<i class="playlist_tag__arrow"></i></a>
					</li>
				</ul>
			</div>
			<div class="playlist_tag__list">
				<h3 class="playlist_tag__tit">主题</h3>
				<i class="playlist_tag__line"></i>
				<ul class="playlist_tag__tags">
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">ACG</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">经典好歌</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">90后</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">小清新</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">影视原声</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">80后</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">70后</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">热唱K歌</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">更多<i class="playlist_tag__arrow"></i></a></a>
					</li>
				</ul>
			</div>
			<div class="playlist_tag__list">
				<h3 class="playlist_tag__tit">心情</h3>
				<i class="playlist_tag__line"></i>
				<ul class="playlist_tag__tags">
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">伤感</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">安静</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">快乐</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">治愈</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">励志</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">甜蜜</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">孤单</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">宣泄</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">思念</a>
					</li>
				</ul>
			</div>
			<div class="playlist_tag__list">
				<h3 class="playlist_tag__tit">场景</h3>
				<ul class="playlist_tag__tags">
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">睡前</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">夜店嗨歌</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">学习</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">运动</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">减压</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">开车</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">约会</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">下午茶</a>
					</li>
					<li class="playlist_tag__itembox">
						<a href="#" class="playlist_tag__item">更多<i class="playlist_tag__arrow"></i></a></a>
					</li>
				</ul>
			</div>
			<br clear="both">
		</div>

		<!-- mod_part_detail -->
		<div class="mod_part_detail">
			<!-- part_detail__hd -->
			<div class="part_detail__hd">
				<h2 class="part_detail__tit">全部歌单</h2>
				<div class="part_switch">
					<a href="#" class="part_switch__item part_switch__item--left">推荐</a><a href="#" class="part_switch__item part_switch__item--right">最新</a>
				</div>
			</div>

			<!-- mod_playlist-->
			<div class="mod_playlist mod_playlist--all">
				<ul class="playlist__list clearfix">
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6000.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：300.3万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6001.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">欧美｜燃系男声 轰炸耳膜</a>
							</h4>
							<div class="playlist__author">
								<a href="#">胸毛少女</a>
							</div>
							<div class="playlist__other">
								播放量：247.7万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6002.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">韩语｜安利这些听三秒就想循环一整天的歌</a>
							</h4>
							<div class="playlist__author">
								<a href="#">Alemio</a>
							</div>
							<div class="playlist__other">
								播放量：210万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6003.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">华语爵士｜慵懒生活小情调</a>
							</h4>
							<div class="playlist__author">
								<a href="#">沐小浅</a>
							</div>
							<div class="playlist__other">
								播放量：223.3万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6004.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">日系丨可爱就维护，萝莉即正义</a>
							</h4>
							<div class="playlist__author">
								<a href="#">丶Lolicon</a>
							</div>
							<div class="playlist__other">
								播放量：103.3万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6005.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">粤语伤感  相爱太难各有寄望</a>
							</h4>
							<div class="playlist__author">
								<a href="#">C-25 .</a>
							</div>
							<div class="playlist__other">
								播放量：243.8万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6006.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6007.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6008.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6009.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6010.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6011.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6012.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6013.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6014.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6015.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6016.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6017.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6018.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6019.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6020.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6021.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6022.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6023.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6024.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6025.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6026.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6027.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6028.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
					<li class="playlist__item">
						<div class="playlist__item_box">
							<div class="playlist__cover mod_cover">
								<a href="#">
									<img src="../../img/6029.jpg" class="playlist__pic">
								</a>
							</div>
							<h4 class="playlist__title">
								<a href="#">蝶舞翩翩，歌声悠扬</a>
							</h4>
							<div class="playlist__author">
								<a href="#">１’s   ヽ</a>
							</div>
							<div class="playlist__other">
								播放量：271.9万
							</div>
						</div>
					</li>
				</ul>
			</div>

			<!-- mod_page_nav -->
			<div class="mod_page_nav">
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">...</a>
				<a href="#">949</a>
			</div>
		</div>
	</div>
	<!--footer-->
<div class="footer">
	<div class="foot_wraper">
		<ul class="app">
			<li class="title">下载QQ音乐客户端</li>
			<li class="download">
				<a href="#" class="pc"><dl>
					<dt class="dl_pc"></dt>
					<dd class="ver_pc">PC版</dd>
				</dl></a>
				<a href="#" class="mac"><dl>
					<dt class="dl_mac"></dt>
					<dd class="ver_mac">Mac版</dd>
				</dl></a>
				<a href="#" class="android"><dl>
					<dt class="dl_android"></dt>
					<dd class="ver_android">Android版</dd>
				</dl></a>
				<a href="#" class="iphone"><dl>
					<dt class="dl_iphone"></dt>
					<dd class="ver_iphone">iPhone版</dd>
				</dl></a>
			</li>
		</ul>
		<ul class="other">
			<li class="title">特色产品</li>
			<li class="product">
				<a href="#" class="allk"><dl>
					<dt class="allk_pic"></dt>
					<dd class="allk_name">全民K歌</dd>
				</dl></a>
				<a href="#" class="super"><dl>
					<dt class="super_pic"></dt>
					<dd class="super_name">Super Sound</dd>
				</dl></a>
				<a href="#" class="qplay"><dl>
					<dt class="qplay_pic"></dt>
					<dd class="qplay_name">Qplay</dd>
				</dl></a>
			</li>
			<li class="green">
				<a href="#">QQ音乐原创音乐平台</a>
				<a href="#">车载互联</a>
				<a href="#" class="green_last">QQ演出</a>
			</li>
		</ul>
		<ul class="links">
			<li class="title">合作链接</li>
			<li class="linklist"><ul>
					<li><a href="#">腾讯视频</a></li>
					<li><a href="#">腾讯社交广告</a></li>
					<li><a href="#">画报</a></li>
					<li class="list_last"><a href="#">腾讯微云</a></li>
				</ul>
			</li>
			<li class="linklist"><ul>
					<li><a href="#">手机QQ空间</a></li>
					<li><a href="#">电脑管家</a></li>
					<li><a href="#">黄钻活动</a></li>
					<li class="list_last"><a href="#">企鹅FM</a></li>
				</ul>
			</li>
			<li class="linklist"><ul>
					<li><a href="#">最新版QQ</a></li>
					<li><a href="#">QQ浏览器</a></li>
					<li><a href="#">星钻</a></li>
					<li class="list_last"><a href="#">更多</a></li>
				</ul>
			</li>
		</ul>
		<p class="jump">
			<a href="#">关于腾讯</a>
			<a href="#">About Tencent</a>
			<a href="#">服务条款</a>
			<a href="#">用户服务协议</a>
			<a href="#">广告服务</a>
			<a href="#">腾讯招聘</a>
			<a href="#">客服中心</a>
			<a href="#" class="jump_last">网站导航</a>
		</p>
		<p class="copy_eng"><span>Copyright &copy; 1998 - 2016 Tencent. </span><a href="#">All Rights Reserved.</a></p>
		<p class="copy_ch"><span>腾讯公司</span><a href="#">版权所有</a><a href="#">腾讯网络文化经营许可证</a></p>
	</div>
</div>
</body>
</html>
